﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="parola sayfası.aspx.cs" Inherits="İnternetHastaTAKİBİ.parola_sayfası" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style1 {
            width: 100%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 490px;
        }
        .auto-style3 {
            height: 109px;
        }
        .auto-style23 {
            width: 37%;
        }
        .auto-style15 {
            width: 62%;
            height: 281px;
        }
        .auto-style19 {
            width: 288px;
            height: 27px;
        }
        .auto-style20 {
            height: 27px;
        }
        .auto-style17 {
            width: 288px;
            height: 46px;
        }
        .auto-style21 {
            width: 288px;
            height: 25px;
        }
        .auto-style29 {
            width: 288px;
        }
        .auto-style30 {
            width: 61%;
        }
        .auto-style31 {
            width: 122px;
        }
        .auto-style32 {
            width: 950px;
            height: 274px;
        }
        .auto-style33 {
            width: 222px;
            height: 207px;
        }
    </style>
</head>

    <form id="form1" runat="server">
        <table class="auto-style1">
            <tr>
                <td class="auto-style3" colspan="3">
                    <img alt="banner" class="auto-style32" src="Images/img-home-banner.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style23">
                    <img alt="randevu" class="auto-style33" src="Images/RESİM.png" /></td>
                <td class="auto-style31">
                    <br />
                    <br />
                    <br />
                    &nbsp;</td>
                <td class="auto-style30">
                    <table class="auto-style15">
                        <tr>
                            <td class="auto-style29">
                                <asp:Label ID="Label1" runat="server" Text="ADI="></asp:Label>
                            </td>
                            <td>
                                <asp:TextBox ID="TextBox1" runat="server" Width="240px"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style29">SOYADI=</td>
                            <td>
                                <asp:TextBox ID="TextBox2" runat="server" Width="240px"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style29">TC KİMLİK NO =</td>
                            <td>
                                <asp:TextBox ID="TextBox3" runat="server" Width="241px"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style19">PAROLA=</td>
                            <td class="auto-style20">
                                <asp:TextBox ID="TextBox4" runat="server" Width="237px"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style17">
                                <asp:Label ID="Label2" runat="server" Text="Yeni Parola Giriniz"></asp:Label>
                            </td>
                            <td class="auto-style18">
                               
                       <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style21">&nbsp;</td>
                            <td class="auto-style18">
                               
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style29">
                                <asp:Button ID="Button1" runat="server" Text="Parola Oluştur" OnClick="Button1_Click" />
                            </td>
                            <td class="auto-style18" rowspan="2">
                               
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style29">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    <div>
    
    </div>
    </form>

</html>
