﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="randevuekle.aspx.cs" Inherits="İnternetHastaTAKİBİ.randevuekle" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">


        .auto-style1 {
            width: 100%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 490px;
        }
        .auto-style3 {
            height: 109px;
        }
        .auto-style40 {
            width: 950px;
            height: 274px;
        }
        .auto-style42 {
            height: 342px;
        }
        .auto-style43 {
            width: 100%;
        }
        .auto-style44 {
            height: 23px;
        }
        .auto-style45 {
            width: 272px;
            height: 119px;
        }
        .auto-style46 {
            width: 280px;
        }
        .auto-style47 {
            height: 23px;
            width: 280px;
        }
        .auto-style48 {
            width: 79px;
        }
        .auto-style49 {
            height: 23px;
            width: 79px;
        }
        .auto-style50 {
            width: 280px;
            height: 26px;
        }
        .auto-style51 {
            height: 26px;
        }
        .auto-style52 {
            width: 79px;
            height: 26px;
        }
    </style>
</head>
<body>

<form id="form2" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style3">
                <img alt="banner" class="auto-style40" src="Images/img-home-banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style42">
                <table class="auto-style43">
                    <tr>
                        <td class="auto-style46">
                            <img alt="HASTA" class="auto-style45" src="Images/hastane-randevu.jpg" /></td>
                        <td>&nbsp;</td>
                        <td class="auto-style48">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</td>
                        <td>VATANDAŞ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GİRİŞ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EKRANI </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style47"></td>
                        <td class="auto-style44"></td>
                        <td class="auto-style49"></td>
                        <td class="auto-style44"></td>
                        <td class="auto-style44"></td>
                        <td class="auto-style44"></td>
                    </tr>
                    <tr>
                        <td class="auto-style46">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="auto-style48">ADI=</td>
                        <td>
                            <asp:TextBox ID="TextBox1" runat="server" Width="211px"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style50"></td>
                        <td class="auto-style51"></td>
                        <td class="auto-style52">PAROLA=</td>
                        <td class="auto-style51">
                            <asp:TextBox ID="TextBox2" runat="server" Width="211px"></asp:TextBox>
                        </td>
                        <td class="auto-style51"></td>
                        <td class="auto-style51"></td>
                    </tr>
                    <tr>
                        <td class="auto-style46">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="auto-style48">TC KİMLİK NO=</td>
                        <td>
                            <asp:TextBox ID="TextBox3" runat="server" Width="208px"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style46">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="auto-style48">&nbsp;</td>
                        <td>
                            <asp:Button ID="Button1" runat="server" ForeColor="Red" Text="GİRİŞ" />
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
