﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="sifredegıstır.aspx.cs" Inherits="İnternetHastaTAKİBİ.sifredegıstır" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">




        .auto-style1 {
            width: 100%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 490px;
        }
        .auto-style3 {
            height: 109px;
        }
        .auto-style40 {
            width: 950px;
            height: 274px;
        }
        .auto-style42 {
            height: 342px;
        }
        .auto-style43 {
            width: 100%;
        }
        .auto-style47 {
            height: 23px;
        }
        .auto-style46 {
            width: 140px;
        }
        .auto-style44 {
            width: 335px;
        }
        .auto-style48 {
            height: 30px;
        }
        </style>
</head>
<body>
    <form id="form2" runat="server">
        <table class="auto-style1">
            <tr>
                <td class="auto-style3">
                    <img alt="banner" class="auto-style40" src="http://localhost:44912/Images/img-home-banner.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style42">
                    <table class="auto-style43">
                        <tr>
                            <td class="auto-style47" colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ~~~~~~~~~~~~~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ŞİFRE&nbsp;&nbsp;&nbsp; DEĞİŞTİR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ~~~~~~~~~~~~~~~~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        </tr>
                        <tr>
                            <td class="auto-style46" colspan="2">
                                <asp:Label ID="Label3" runat="server" BackColor="#FFCC66" Text="Eski  ŞİFRE  giriniz "></asp:Label>
                            </td>
                            <td>
                                <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style46" colspan="2">
                                <asp:Label ID="Label4" runat="server" BackColor="#FFCC66" Text="Eski ŞİFRE  tekrar  giriniz"></asp:Label>
                            </td>
                            <td>
                                <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style44">
                                <asp:Label ID="Label5" runat="server" BackColor="#FFCC66" Text="Yeni ŞİFRE   giriniz"></asp:Label>
                            </td>
                            <td class="auto-style45" colspan="2">
                                <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style48" colspan="3">
                                <asp:Button ID="Button10" runat="server" BackColor="White" ForeColor="#000066" Text="ŞİFRENİZ   DEĞİŞTİRİLDİ" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <form id="form3" runat="server">
        <div>
        </div>
    </form>
    <form id="form1" runat="server">
    </form>
</body>
</html>
