﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="İnternetHastaTAKİBİ.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style1 {
            width: 100%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 490px;
        }
        .auto-style3 {
            height: 109px;
        }
        .auto-style23 {
            width: 247px;
            height: 342px;
        }
        .auto-style15 {
            width: 62%;
            height: 281px;
        }
        .auto-style19 {
            width: 254px;
            height: 27px;
        }
        .auto-style20 {
            height: 27px;
        }
        .auto-style17 {
            width: 254px;
            height: 46px;
        }
        .auto-style21 {
            width: 254px;
            height: 25px;
        }
        .auto-style24 {
            width: 100%;
            height: 262px;
        }
        .auto-style32 {
            height: 23px;
        }
        .auto-style37 {
            width: 113px;
        }
        .auto-style35 {
            width: 271px;
        }
        .auto-style30 {
            width: 268435408px;
        }
        .auto-style39 {
            height: 79px;
            width: 113px;
        }
        .auto-style34 {
            height: 79px;
            width: 271px;
        }
        .auto-style31 {
            height: 79px;
            width: 268435408px;
        }
        .auto-style38 {
            height: 95px;
            width: 113px;
        }
        .auto-style36 {
            height: 95px;
            width: 58px;
        }
        .auto-style29 {
            height: 95px;
        }
        .auto-style40 {
            width: 950px;
            height: 274px;
        }
        .auto-style41 {
            width: 244px;
            height: 207px;
        }
        .auto-style42 {
            height: 342px;
        }
    </style>
</head>

<form id="form1" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style3" colspan="3">
                <img alt="banner" class="auto-style40" src="Images/img-home-banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style23">
                <table class="auto-style15">
                    <tr>
                        <td class="auto-style16">
                            <asp:Label ID="Label1" runat="server" Text="ADI="></asp:Label>
                        </td>
                        <td>
                            <asp:TextBox ID="TextBox1" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">SOYADI=</td>
                        <td>
                            <asp:TextBox ID="TextBox2" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">PAROLA=</td>
                        <td>
                            <asp:TextBox ID="TextBox3" runat="server" Width="241px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style19">
                            <asp:Button ID="Button1" runat="server" Text="GİRİŞ" Width="203px" OnClick="Button1_Click" />
                        </td>
                        <td class="auto-style20">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style17">
                            <br />
                            <asp:Label ID="Label2" runat="server"></asp:Label>
                        </td>
                        <td class="auto-style18" rowspan="4">
                            <img alt="resim" class="auto-style41" src="Images/images%20(1).jpg" /></td>
                    </tr>
                    <tr>
                        <td class="auto-style21">
                            <asp:Button ID="Button2" runat="server" Text="YENİ ÜYE" Width="205px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">
                            <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="PAROLAMI UNUTTUM " Width="211px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td class="auto-style42">
                <table class="auto-style24">
                    <tr>
                        <td class="auto-style32" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YÖNETİM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PANELİ </td>
                    </tr>
                    <tr>
                        <td class="auto-style37">
                            <asp:Button ID="Button4" runat="server" Text="RANDEVU  EKLE" Width="201px" OnClick="Button4_Click" />
                        </td>
                        <td class="auto-style35" colspan="2">
                            <asp:Button ID="Button5" runat="server" Text="BUGUNUN  RANDEVULARI" Width="249px" />
                        </td>
                        <td class="auto-style30">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style39">
                            <asp:Button ID="Button6" runat="server" Text="HASTA  ARA" Width="204px" />
                        </td>
                        <td class="auto-style34" colspan="2">
                            <asp:Button ID="Button7" runat="server" Text="HASTA RANDEVU İPTAL" Width="246px" />
                        </td>
                        <td class="auto-style31"></td>
                    </tr>
                    <tr>
                        <td class="auto-style38">
                            <asp:Button ID="Button8" runat="server" Text="RANDEVU DÜZENLE" Width="207px" />
                        </td>
                        <td class="auto-style36">
                            <asp:Button ID="Button9" runat="server" Text="ŞİFRE  DEĞİŞTİR" Width="249px" OnClick="Button9_Click" />
                        </td>
                        <td class="auto-style29" colspan="2"></td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                &nbsp;</td>
            <td class="auto-style42"></td>
        </tr>
    </table>
</form>

</html>
