﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="hastarandevuiptal.aspx.cs" Inherits="internetprg.hastarandevuiptal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">



        .auto-style1 {
            width: 87%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 608px;
        }
        .auto-style3 {
            height: 109px;
        }
        .auto-style40 {
            width: 1094px;
            height: 274px;
        }
        .auto-style23 {
            width: 13px;
        }
        .auto-style15 {
            width: 155%;
            height: 281px;
        }
        .auto-style42 {
            height: 95px;
        }
        .auto-style43 {
            height: 60px;
            width: 241px;
        }
        .auto-style44 {
            width: 292px;
        }
        .auto-style45 {
            height: 60px;
            width: 292px;
        }
        .auto-style46 {
            width: 241px;
        }
        .auto-style47 {
            width: 244px;
            height: 207px;
        }
        </style>
</head>
<body>
    <form id="form2" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style3" colspan="2">
                <img alt="banner" class="auto-style40" src="Images/img-home-banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style23">
                <table class="auto-style15">
                    <tr>
                        <td class="auto-style46">
                            <asp:Label ID="Label1" runat="server" Text="Hasta Adı:"></asp:Label>
                        </td>
                        <td class="auto-style44">
                            <asp:TextBox ID="TextBox1" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style43">Hekim:</td>
                        <td class="auto-style45">
                            <asp:TextBox ID="TextBox2" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style46">Randevu İptal&nbsp;&nbsp;&nbsp;&nbsp; Sebebi:</td>
                        <td class="auto-style44">
                            <asp:TextBox ID="TextBox3" runat="server" Width="241px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style42" colspan="2">
                            <asp:Button ID="Button1" runat="server" Height="51px" align="center" OnClick="Button1_Click" Text="KAYDET" Width="111px" />
                        </td>
                    </tr>
                    </table>
            </td>
            <td>
                <img alt="fghj" class="auto-style47" src="images/images.jpg" /></td>
        </tr>
    </table>

    

    
    </form>
    </body>
</html>
