﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RandevuDüzenle.aspx.cs" Inherits="internetprg.RandevuDüzenle" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style3 {
            height: 109px;
            width: 199px;
        }
        .auto-style40 {
            width: 950px;
            height: 274px;
        }
        .auto-style23 {
            width: 199px;
        }
        .auto-style15 {
            width: 204%;
            height: 281px;
        }
        .auto-style19 {
            width: 254px;
            height: 27px;
        }
        .auto-style20 {
            height: 27px;
        }
        .auto-style17 {
            width: 254px;
            height: 46px;
        }
        .auto-style21 {
            width: 254px;
            height: 25px;
        }
        
        .auto-style1 {
            width: 100%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 490px;
        }
        .auto-style41 {
            height: 42px;
        }
    </style>
</head>
<body style="width: 959px">
    <form id="form1" runat="server">
    <div>
    
    <table class="auto-style1">
        <tr>
            <td class="auto-style3">
                <img alt="banner" class="auto-style40" src="Images/img-home-banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style23">
                <table class="auto-style15">
                    <tr>
                        <td class="auto-style16">
                            <asp:Label ID="Label1" runat="server" Text="ADI="></asp:Label>
                        </td>
                        <td>
                            <asp:TextBox ID="TextBox1" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">SOYADI=</td>
                        <td>
                            <asp:TextBox ID="TextBox2" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style41">TC KİMLİK NO =</td>
                        <td class="auto-style41">
                            <asp:TextBox ID="TextBox3" runat="server" Width="241px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style19">HEKİM=</td>
                        <td class="auto-style20">
                            <asp:TextBox ID="TextBox4" runat="server" Width="237px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style17">
                            <asp:Label ID="Label2" runat="server" Text="RANDEVU="></asp:Label>
                        </td>
                        <td class="auto-style18" rowspan="5">
                            <asp:TextBox ID="TextBox5" runat="server" Height="132px" Width="233px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style21">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style21">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style16">
                            <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="KAYDET" />
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    

    
    </div>
    </form>
</body>
</html>
