﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="sifredegistir.aspx.cs" Inherits="internetprg.sifredegistir" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">


        .auto-style1 {
            width: 87%;
            border: 1px solid #000000;
            background-color: #CCFFFF;
            height: 569px;
        }
        .auto-style3 {
            height: 109px;
        }
        .auto-style40 {
            width: 850px;
            height: 274px;
        }
        .auto-style23 {
            width: 247px;
            height: 298px;
        }
        .auto-style15 {
            width: 155%;
            height: 281px;
        }
        .auto-style41 {
            width: 372px;
            height: 207px;
        }
        .auto-style24 {
            width: 100%;
            height: 262px;
        }
        .auto-style32 {
        }
        .auto-style42 {
            height: 95px;
        }
        .auto-style43 {
            height: 298px;
        }
        </style>
</head>
<body>
    <form id="form2" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style3" colspan="3">
                <img alt="banner" class="auto-style40" src="Images/img-home-banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style23">
                <table class="auto-style15">
                    <tr>
                        <td class="auto-style16">
                            <asp:Label ID="Label1" runat="server" Text="Eski Şifre:"></asp:Label>
                        </td>
                        <td>
                            <asp:TextBox ID="TextBox1" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">Yeni Şifre:</td>
                        <td>
                            <asp:TextBox ID="TextBox2" runat="server" Width="240px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style16">Yeni Şifre Tekrar:</td>
                        <td>
                            <asp:TextBox ID="TextBox3" runat="server" Width="241px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style42" colspan="2">
                            <asp:Button ID="Button1" runat="server" Height="51px" align="center" OnClick="Button1_Click" Text="KAYDET" Width="111px" />
                        </td>
                    </tr>
                    </table>
            </td>
            <td class="auto-style43">
                <table class="auto-style24">
                    <tr>
                        <td class="auto-style32">
                            <img alt="rsm" class="auto-style41" src="images/images.jpg" /></td>
                    </tr>
                    </table>
                <br />
                &nbsp;</td>
            <td class="auto-style43"></td>
        </tr>
    </table>

    

    
    </form>
</body>
</html>
